body {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: poppins;
    background-color: #0b1215;
    margin-left: auto;
    margin-right: auto;
}

a {
    position: relative;
    max-width: max-content;
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-size: clamp(1rem, 2vw, 1.375rem);

}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Title, .taskTitle {
    display: flex;
    position: relative;
    max-width: max-content;
    font-family: poppins;
    color: rgb(244, 244, 244);
    align-items: center;
    justify-content: flex-start;
    font-size: clamp(.8rem, 2vw, 2rem);
    margin-bottom: 10px;
}

.tableStruc {
    position: relative;
    max-width: max-content;
    display: flex;
    font-family: poppins;
    color: rgb(244, 244, 244);
    align-items: center;
    justify-content: flex-start;
    font-size: clamp(.8rem, 2vw, 1.125rem);
}
.descrip, li a, .taskDes {
    display: flex;
    font-family: poppins;
    color: rgb(244, 244, 244);
    align-items: center;
    justify-content: center;
    color: rgb(244, 244, 244);
    margin-top: 0px;
    font-weight: 600;
}
.container, .footer {
    background: #5e5e5e;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
ul, ol {
    text-align: left;
    font-family: poppins;
    color: rgb(244, 244, 244);
    word-break: break-all;
}
.taskCode {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
code {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: poppins;
    color: rgb(244, 244, 244);
    word-wrap: break-word;
    font-size: clamp(.4rem, 2vw, 1rem);
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}
img {
    border-radius: 8px;
}